/* General CSS */
.plwao-clearfix:before, .plwao-clearfix:after{content: "";display: table;}
.plwao-clearfix::after{clear: both;}
.plwao-right{float:right;}
select.plwao-select{max-width: 200px; width: 100%;}
.plwao-no-padding{padding: 0 !important;}
.plwao-imgs-preview img{padding: 5px; margin: 5px 0; max-width: 150px; border: 1px solid #ccc; box-sizing: border-box;}
.plwao-spinner-class{display: inline-block; max-width: 100px; width:100%; padding:10px; background-color: #f1f1f1; border: 2px solid #ccc; text-align: center; box-sizing:border-box; vertical-align:top; margin:0 5px 7px 0;}
.plwao-spinner-class .plwao-check{display:none; visibility:hidden;}
.plwao-spinner-class.plwao-active{border:2px solid #0073AA;}
.plwao-textarea{height: 120px;}
.plwao-settings .plwao-resett-sett-btn{margin: 0 0 0 5px;}
.plwao-sub-sett-title{border-bottom: 2px solid #ccc; padding: 0 0 6px; line-height: normal;}
.paoc-pro-feature{opacity: 0.5; -webkit-transition: 300ms ease-in-out; transition: 300ms ease-in-out;}
.paoc-pro-link{position: relative; z-index: 3; font-weight: 600;}